h1
{
	font-family: calibri;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #D3D3D3;
	text-decoration: underline;
	text-align: center;
        text-transform: uppercase;
	text-shadow: 2px 2px 8px #FF0000;
}

p
{
	font-family: verdana;
	font-size: 20px;
	font-style: italic;
	text-transform: lowercase;
        text-indent: 30%;
	color: #0066FF;
	text-shadow: 2px 2px 8px #FF0000;
}	
